@{
    ViewData["Title"] = "Dashboard";
    ViewData["exibeHeader"] = "n";
}

<!-- Morris Css -->
<link href="~/plugins/morrisjs/morris.css" rel="stylesheet" />

@*<section class="content">*@
<div class="row clearfix">
    <!-- Bar Chart -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Valores vs Juiz (top 10)</h2>
                <small>Análise dos 10 juizes que tem o maior valor em processos para julgar.</small>
            </div>
            <div class="body">
                <div id="bar_chart" class="graph"></div>
            </div>
        </div>
    </div>
    <!-- #END# Bar Chart -->
</div>
@*</section>*@





@section Scripts{

    <script>

        if ('@ViewBag.UsuarioNome' && '@ViewBag.UsuarioEmail')
        {
            sessionStorage.setItem("usuarioLogado", '@ViewBag.UsuarioNome')
            sessionStorage.setItem("usuarioId", '@ViewBag.UsuarioId')
            sessionStorage.setItem("usuarioEmail", '@ViewBag.UsuarioEmail')
        }
        else if (!sessionStorage['usuarioLogado'] && !sessionStorage['usuarioEmail'])
        {
            sessionStorage["acessoNegado"] = 1;
            window.location.href = '@Url.Content("~/Acesso/Index")';
        }

        $('#usuarioLogado').text(sessionStorage["usuarioLogado"]);
        $('#usuarioEmail').text(sessionStorage["usuarioEmail"]);
    </script>

    <!-- Morris Plugin Js -->
    <script src="~/plugins/raphael/raphael.js"></script>
    <script src="~/plugins/morrisjs/morris.js"></script>

    <script>
        String.prototype.replaceAll = function (search, replacement) {
            var target = this;
            return target.split(search).join(replacement);
        }

        Morris.Bar({
            element: 'bar_chart',
            data: JSON.parse('@System.Net.WebUtility.UrlDecode(""+ViewData["DadosJuizvsValor"]+"")'.replaceAll('&quot;', '"')),
            xkey: 'nomeJuiz',
            ykeys: ['valorTotal'],
            labels: ['Valor']
        });
    </script>
}
